@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

/* Header-5433 */

.blank-header {
  padding: 60px 20px 0px 20px;
}

.blank-header .header-5433 .hero-copy * {
  text-align: left;
}

.header-5433:after {
  background: #c1bdc8;
  border-radius: 15px;
  content: "";
  display: block;
  height: 9px;
  margin-top: -9px;
}

.blank-header .header-5433 .hero-copy h1,
.blank-header .header-5433 .hero-copy h2,
.blank-header .header-5433 .hero-copy h3 {
  color: #fc6d26;
  font-weight: 700;
}

.blank-header .header-5433 .hero-image img {
  width: 100%;
}
