<%  if topic.schema_faq != nil  %>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
      <%  topic.schema_faq.each do |faq| %>
        {
          "@type": "Question",
          "name": "<%= kramdown(faq.question) %>",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "
            <%= kramdown(faq.answer) %>
            <%# Schema markup fails with <a href=""> so we're printing it out with <a href='' here instead %>
            <%  if faq.cta != nil %>
              <%  faq.cta.each do |button|  %>
                <a href='<%= button.url %>'><%= button.text %></a>
              <% end %>
            <% end %>
            "
          }
        <%  if faq == topic.schema_faq.last %>
        }  
        <% else %> 
        }, 
        <% end %>
      <% end %> 
      ] 
    }
  </script>
<% end %>

